{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron">
	  <h1 class="display-4">Find the Podcasts You Love</h1>
	  <p class="lead">Check out the navigation bar to get more information on various podcasts! Each one provides different functionalities.</p>
	  <hr class="my-4">
	  <p>Capital One Software Engineering Summit Challenge - Abhishek Shinde</p>
	  <a class="btn btn-primary btn-lg" href="https://github.com/abhishekshinde21/CapOneSWE18" role="button">Learn more</a>
	</div>

	<h2 align="center"> Explore the topics of the podcasts </h2>
			<div class="row">
				{% for tag in tags %}
			  <div class="col-sm-3" align="center">{{tag.tag}}</div>
			  	{% endfor %}
			  <div class="col-sm-3"></div>
			  <div class="col-sm-3"></div>
			  <div class="col-sm-3"></div>
			</div>
	
	<style type="text/css">
		h2 {
			margin-left: 20px
		}
	</style>

{% endblock %}

