{% extends 'layout.html' %}

{% block body %}

	<div style="width: 49%; display: inline-block;">
		<h3 align="center"> Read about some of the top podcasts below </h3>
		<ul class="list-group">
			{% for entry in top %}
			<li class="list-group-item"> <a href="{{entry.website}}">{{entry.title}}</a> - {{entry.description}}</li>
			{% endfor %}
		</ul>
	</div>
	<div style="width: 50%; display: inline-block;">
		<form action="{{ url_for('smart_visual_search')}}" method="POST" style="margin-left: 30px">
			<label>Search for the top podcasts by genre</label><br>
			<input type="text" name="search">
			<input type="submit" name="Submit">
		</form>
	</div>
	

{% endblock %}